.alert{
    display: none;
    transition: all 0.3s;
    position: fixed;
    width: 100%;
    z-index: 9998;
    border-radius: 0;
    padding-bottom: 0;
    background: rgba(255,  215,  114,  0.6);
    font-size: 0.9rem;
}

/* html, body {
    
    width: -webkit-calc(100% - 0px);
    height: calc(100vh - var(--vh-offset, 0px));
} */

.alert.on{
   width: calc(100% - 250px);
}

#box {
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    
}

.wrapper{
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--vh-offset, 0px));
    overflow: hidden;
}

/* LIJEVI DIO -------------------- */
#sidebar {
    transition: all 0.3s;
    z-index: 9999;
    -webkit-box-shadow: 6px 0px 12px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 0px 12px 0px rgba(0,0,0,0.61);
    box-shadow: 6px 0px 12px 0px rgba(0,0,0,0.61);
    min-width: 250px;
    max-width: 250px;
    height: calc(100vh - var(--vh-offset, 0px));
}
/* LIJEVI DIO -------------------- */

/* DESNI DIO -------------------- */
#content {
    transition: all 0.3s;
    width: 100%;
    height: 100vh;
}

.navbar {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    z-index: 9998;
}

#map {
    height: calc(90% - var(--vh-offset, 0px));
    width: 100%;
    margin-top: auto;
}
/* DESNI DIO -------------------- */

#sidebar.active {
    margin-left: -240px;
    transition: all 0.3s;
}

.meni-header {
    height: 40px;
    width: 90%;
    margin: auto;
    border-radius: 10px 4px;
    margin-bottom: 15px;
}

.meni {
   margin-bottom: 4vh !important;
}

.meni ul {
    width: 80%;
    margin: auto;
}

.meni3 li {
    height: 1.6rem;
}

.navbar-toggler{
    border:none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar img {
    height: 35px;
    width: 35px;
}

#logo {
    max-width: 15vh;
    max-height: 15vh;
    margin-top: 10px;
    margin-bottom: 15px;
}

.meni {
    margin-bottom: 10%;
}

.list-group li {
    padding: 2px;
    border: none;
}

@media (max-width: 768px) {
    #content.sidebarOn {
        margin-right: -240px;
    }

    #brand {
        font-size: 1.6rem;
    }

    .alert.on{
        width: 100%;
     }
}

@media (max-width: 576px) {
    #brand {
        font-size: 1.4rem;
    }

    .alert {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    #sidebar {
        min-width: 190px;
        max-width: 190px;
    }

    #sidebar.active {
        margin-left: -185px;
        transition: all 0.3s;
    }

    #content.sidebarOn {
        margin-right: -185px;
    }

    #brand {
        font-size: 1.4rem;
    }

    .navbar img {
        height: 30px;
        width: 30px;
    }

    html {
        font-size: 14px;
    }

    .meni-header {
        height: 30px;
        margin: auto;
        margin-bottom: 10px;
    }

    .alert {
        font-size: 0.8rem;
    }
}
    